:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent {
    color:#0B1C36;
    font-weight: 500;
    white-space: break-spaces;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.menuItem--isOpen .styledLinkContent{
    font-weight: 900;
}
.menuItem--isClosed .styledLinkContent{
    font-weight: normal;
}
.styledLinkIcon--dropdown-departamentos{
    height: 20px;
}
.styledLink--dropdown-departamentos{
    background: #F7F7F7;
    border-radius: 5px;
    padding: 8px;
}
.styledLinkContainer--dropdown-departamentos{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0px !important;
}
:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent--dropdown-departamentos {
    color: #0B1C36;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: initial;
    font-size: 12px;
    height: 30px;
    text-transform: uppercase;
}
.menuItem--desc-completa-none{
    height: 0;
    opacity: 0;
}

.menuContainerNav{width: 100%;}
.menuContainerNav .menuItem{width: 100%;}
.submenuContainer .menuItem--isOpen{width: 100%;background: #f0c95c;}
.menuContainer {
    position: relative;
    width: 100%;
    align-items: center;
}
.submenuWrapper{
    width: 100%;
    padding: 0;
    top: 0px;
    background: #fff;
    margin: 0;
}
:global(.vtex-category-menu-2-x) .departmentList {
    display: block;
    height: auto;
}

.menuItem--dropdown-departamentos{
    color:#666;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    text-align: center;
    height: 56px;
}

.menuItem--dropdown-departamentos .submenuContainer {
    position: absolute;
    top: 100%;
    width: 100%;
}

:global(.vtex-menu-2-x-styledLinkIcon) .c-action-primary  {
    color: #fecc16;
    width: 20px;
    height: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer) {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
}
.styledLinkContent--menu-top{
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}
.styledLinkIcon--menu-vendedor .rebel-pink {
    width: 25px;
    height: 25px;
}
.styledLinkContainer--menu-top{
    margin-left: 0;
}
.menuItem{
    min-width: 20%;
    padding: 5px;
}