.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.searchBarContainer {
    max-width: 780px;
    margin-right: 2rem;
}

.logoContainer {
    padding:0;
}

.logoLink {
    margin-right: 1.5rem;
}

.logoImage {
    max-width: 100%;   
    max-height: 80px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) .logoImage {
    max-height: 75px;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input){
    padding: 0 30px;
    background: #FFFFFF;
    font-size: 12px;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 32px;
    border: 0;
    border-radius: 3px;
    position: relative;
}

.searchBarContainer :global(.vtex-input__suffix) {
    background-size: cover;
    width: 73px;
    height: 32px;
    background-position: center;
    background: #FFFFFF;
}

.container :global(.vtex-flex-layout-0-x-flexRowContent--pdp-view-buy) {
    padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink {
    display: flex;
    height: 0;
    align-content: center;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.flexColChild{
    text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink .imageElement {
    margin-bottom: -100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.productNameContainer {
    font-weight: 500;
    font-size: 25px;
    margin: 25px 0px 20px;
    color:#0B1C36;
}

.productBrandContainer {
    margin-bottom: 0;
}

.productBrandName {
    color:#282D2F;
    font-size: 1.0rem;
    font-weight: 600;
}

.listPriceValue, .sellingPrice {
    padding: 0;
    order: 2;
}

.listPriceLabel, .sellingPriceLabel {
    display: none;
}

.price_listPrice {
    color: #282D2F;
    font-size: 1.2rem;
    font-weight: 500;
} 

.price_sellingPrice {
    font-weight: 300;
    color: #000;
    font-size: 36px;
    line-height: 40px;
}

.price_installmentContainer, .price_installment, .price_installment{
    color: #FFF1F9;
    font-size: 24px;
    font-weight: 900;
    display: none;
}
.price_interestRate{
    display: none;
}
.priceContainer {
    display: flex;
    flex-direction: column;
}
.savingPriceValue {
    background: #8bc34a;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}

.skuSelectorSubcontainer{
    margin-top: 0px;
    margin-bottom: 10px;
}

.skuSelectorName{
    color: #838383;
    font-weight: 600;
    font-size: 19px;
}

:global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem):first-child{
    margin-left: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--desc-prod-main) .productDescriptionContainer {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.productDescriptionTitle, .shippingTableRadioBtn {
    display: none;
}

.productDescriptionText {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #212220;
}

.productDescriptionText .pointerEventsAuto {
    background: #fff;
    text-align: left;
}

.productDescriptionText .pointerEventsAuto .showMoreButton {
    color: #EF5DA8;
    background: #fff;
    text-decoration: underline;
    padding: 0;
    margin: 1rem 0;
}

.shippingContainer {
    padding-top: 1rem;
    width: 100%;
    position: relative;
    display: flex;
}
.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label){display: none;}
.shippingContainer :global(.vtex-address-form__postalCode){
    width: 100%;
    margin-right: 15px;
}
.shippingContainer :global(.vtex-button){background: #E7CBDB;height: 66px;border-radius: 62px;color: #000;
    border: 0;}
.shippingContainer :global(.vtex-input-prefix__group){
    border-radius: 62px;
    height: 66px;
    position: relative;
    border:1px solid #C4C4C4;

}

:global(.vtex-store-components-3-x-searchBarInnerContainer--opened) :global(.vtex-input-prefix__group){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.imageElement--icon-zapzap{
  max-height: 50px;
  display: block;
  position: fixed;
  bottom: 2%;
  right: 1%;
  left: unset;
  width: 50px;
  z-index: 999999;
}
@media screen and (max-width: 760px) {
  .searchBarContainer {
    margin-right: 0;
  }
}
.infoCardCallActionContainer{width: 100%;}
.infoCardContainer--info-card-ofertas{width: 100%;}
:global(.vtex-store-components-3-x-shareLabel){
    color: #EF5DA8;
    font-size: 18px;
    font-weight: 700;
}
/* Mobile */
@media (max-width: 1023px) {
    .shippingContainer {
        width: 100%;
    }
    .imageElement--img-category{
        max-width: 100px;
    }
    .shippingContainer :global(.vtex-address-form__postalCode)::before {
         font-size: 14px;
    }
    .searchBarContainer :global(.vtex-input-prefix__group) {
        height: 32px;
    }
}

.productDescriptionText .container{
    padding: 0;
    color: #282D2F;
    font-size: 16px;
    font-weight: 400;
}

.imageElement--icon-favoritos{
    width: 36px;
    height: 32px;
}
.imageElement--footer-meios-pagamentos{
    width: 40px !important;
}
.imageElement--footer-logo-metodo{
    width: 100px;
}
.imageElement--boleto-ico-prod{
    margin-right: 5px;
}
.imageElementLink--icon-favoritos{
    line-height: 0;
}
.imageElement--footer-carrinho-news{
    position: absolute;
    top: -12%;
}
.imageElement--banner-trendtop{
    margin-bottom: 10px;
}
.shareContainer {
    margin-top: 30px;
}
/*.shareSocialButton--whatsapp::after{
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url("assets/svg/insta-prod.svg") transparent no-repeat;
}
.shareSocialIcon--whatsapp{
    display: none;
}*/
.productDescriptionText--desc-prod-main-short{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 15px 0;
}
.imageElementLink--rede-social-instagram,
.imageElementLink--rede-social-facebook{
    border-radius: 50%;
    width: 40px !important;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.figure{
    margin: 5px;
}
.imageElement--img-whatsapp{
    height: 60px;
    width: 60px;
}