.link--duvidas-bottom-tel{
    text-decoration: none;
    margin-left: 10px;
    color: #282D2F;
    font-weight: 800;
}
.link--submenu-tilte-mob{
    text-decoration: none;
}
.label--submenu-tilte-mob{
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #FFF1F9;
}
.link--btn-ver-mais-prod{
    color: #EF5DA8;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}
.childrenContainer--whatsappLinkFixed{
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 99999;
}