:global(.vtex-product-summary-2-x-element--shelf) .wishlistIconContainer :global(.vtex-button){
    border: 0 !important;
    background: transparent !important;
    top: 5px;
    right: 5px;
}
.iconSize{
    width: 31px;
    height: 27px;
    background-repeat: no-repeat;
    /*background: url('assets/svg/favorito.svg') !important;*/
}
.outline{
    background: url('assets/svg/favorito.svg') !important;
}
.wishlistIconContainer{
    display: flex;
    align-items: center;
}