.newsletterForm {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0B1C36;
    margin: 0 0 15px 0;
}
.emailInputContainer :global(.vtex-input-prefix__group){
    height: 32px;
    border: 0;
    max-width: 270px;
    min-width: 230px;
}
.emailInputContainer :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input){
    background-color: transparent;
    padding: 0;
    font-size: 14px;
}
.emailInputContainer :global(.vtex-input-prefix__group) ::placeholder{
    color: #0B1C36;
}
.emailInputContainer {
    padding: 0 5px;
}
.nameInputContainer,.formSubmitContainer{
    padding: 0 5px;
}

.defaultSuccessMessage {
    color: #fff;
    border: 1px solid #FFF1F9;
    background: #FFF1F9;
    padding: 1rem;
    margin: 0px;
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    background: #8bc34a1f;
    text-transform: uppercase;
    font-weight: 500;
}
.formSubmitContainer :global(.vtex-button){
    position: relative;
    width: 150px;
    background: transparent;
    border: 0;
    height: 32px;
    color: #0B1C36;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: end;
}
.formSubmitContainer :global(.vtex-button__label){
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    text-transform: initial;
}
.formSubmitContainer:hover :global(.vtex-button__label){
   color: #000 !important;
}
.newsletterForm--news{
    align-items: center;
}
@media (max-width: 1024px){
    .newsletterForm {
        display: flex;
        margin-top: 20px;
    }
    .emailInputContainer {
        max-width: 100%;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .nameInputContainer,.formSubmitContainer{
        max-width: 100%;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .formSubmitContainer :global(.vtex-button){
        width: 100%;
    }
    .nameInputContainer :global(.vtex-input-prefix__group),
    .emailInputContainer :global(.vtex-input-prefix__group){
        max-width: 100%;
    }
    .nameInputContainer{
        display: none;
    }
}