.totalProducts--layout{
    display: none;
}

:global(.vtex-search-result-3-x-filters--layout){
    min-width: 300px;
}

:global(.vtex-search-result-3-x-filter__container--especificacoes-tecnicas){
    display: none;
}

:global(.vtex-search-result-3-x-filterPopupTitle) :global(.vtex-search-result-3-x-orderByText){
    margin-right: 10px;
}
:global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-gridIcon), :global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-inlineGridIcon){
    margin-right: 10px;
}

:global(.vtex-search-result-3-x-filterItem) :global(.vtex-checkbox__label) {
    text-transform: uppercase;
    font-size: 0.8rem;
}

@media only screen and (max-width: 640px) {
    :global(.vtex-search-result-3-x-filters--layout){
        min-width: auto;
    }
    .galleryItem{
        padding: 0;
    }
}
.gallery--grid, .gallery--list{
    padding-left: 0;
}