.container--shelf :global(.vtex-product-summary-2-x-nameContainer) {
  justify-content: center;
}
.container--shelf{/*padding: 10px;*/position: relative;}

.element--shelf .brandName{
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  color: #0B1C36;
  font-weight: 600;
  text-transform: uppercase;
}
.nameContainer{
  justify-content: center;
}
.element--shelf .nameContainer{
  padding-bottom: 0;
  font-size: 16px;
  min-height: 70px;
  text-align: center;
}
.priceContainer{
  padding: 0;
}
.element--shelf{
  border-radius: 3px;
  padding: 10px;
  background: #fff;
}
.element--shelf :global(.vtex-button){
  background: #000;
  color: #fff;
  text-transform: inherit;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  border: 0;
  font-weight: 600;
  height: 40px;
}
.element--shelf :global(.vtex-store-components-3-x-skuSelectorTextContainer){
  display: none;
}
.sellingPrice{
  color: #EF5DA8;
  font-size: 24px;
  font-weight: 700;
} 

/* LISTS E GRID SEARCH */

.container--listLayout{
  max-width: none!important;
}
.brandName{
  font-size: 16px;
}
.productBrand--summaryListDesktop{
  font-size: 16px;
  font-weight: 600;
}
.element--shelf :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button){
  border: 0 !important;
    position: absolute;
    background: transparent !important;
    top: 5px;
    right: 5px;
}
.imageNormal{
  max-height: 360px !important;
}
.imageContainer{
  min-height: 235px;
}
@media screen and (max-width: 760px) {
  .imageContainer{
    min-height: 150px;
  }
  .element--shelf{
    margin: 5px;
  }
}