.content {
    position: relative;
    padding-top: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 4rem 2rem 2rem 2rem;
}

.options {
    width: 50%;
}
.sendButton :global(.vtex-button){
    background: #000;
}

.contentForm {
    width: 50%;
}
.formTitle{
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
.label{
    text-transform: initial;
    text-align: left;
    color: #0B1C36;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}
.buttonLink .label::before{
    content: 'Hey, Entre ';
    font-weight: 600;
    display: block;
} 
.profile{
    color: #000;
    text-transform: initial;
}
@media only screen and (max-width: 640px) {
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
}
.buttonLink{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Mobile */
@media (max-width: 1023px) {
    .buttonLink{
        border: 0;
        height: initial;
    }
}