.headerRowBackground--main-header {
    padding: 0;
    background: #f0c95c;
}
.headerRowContainer{
    justify-content: space-between;
}
.headerRowBackground--main-menu{
    background: #ffffff;
}
.headerRowContentContainer--stick__header_desk{
    padding: 0 !important;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.headerStickyRow--main-menu{
    width: 100%;
}
.headerRowContainer--stick__header_desk{
    flex-wrap: wrap;
}
.headerStickyRow--main-header{
    width: 100%;
}
.headerRowBackground--stick__header_desk{
    background: #FFF1F9;
}
.headerRowBackground--top-bar{
    background: #FFFAD4;
}