.product-identifier {
    display: block;
    margin-bottom:0.5rem;
    text-align: left;
}
.product-identifier__label{
    font-size: 14px;
    color: #B0B0B0;
}
.product-identifier__value{
    color: #B0B0B0;
    font-size: 14px;
}