
.cartIcon{
    width: 32px;
    height: 32px;
}
:global(.vtex-login-2-x-profileIcon){
    width: 24px;
    height: 24px;
}
:global(.vtex-minicart-2-x-cartIcon){
    width: 32px;
    height: 32px;
}
:global(.vtex-store-components-3-x-searchIcon){
    width: 17px;
    height: 17px;
}
/* Mobile */
@media (max-width: 1023px) {
    :global(.vtex-login-2-x-profileIcon){
        width: 24px;
        height: 24px;
    }
    :global(.vtex-store-icons-0-x-cartIcon){
        width: 32px;
        height: 32px;
    }
}