.installments{
    font-size: 0px;
    color: #0B1C36;
    text-align: center;
    line-height: 22px;
}
.installmentsNumber{
    font-size: 12px;
    color: #0B1C36;
    font-weight: 500;
}
.installmentValue{
    font-size: 12px;
    color: #0B1C36;
    font-weight: 500;
}
.installmentValue::before{
    content: 'x de';
    margin-right: 4px;
    font-weight: 500;
}
.sellingPrice {
    text-align: center;
}
.sellingPriceValue{
    color: #0B1C36 ;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
}
.installmentValue .currencyContainer{
    color: #0B1C36;
}
:global(.vtex-product-summary-2-x-element--shelf) .installmentValue .currencyContainer{
    color: #0B1C36;
    font-size: 12px;
}

.installments--price-install-prod{
    font-size: 0px;
}
.installmentsNumber--price-install-prod, .installmentValue--price-install-prod{
    font-size: 20px;
    font-weight: 600;
    color: #0B1C36;
}
.installmentsNumber--price-install-prod::after{
    font-size: 16px;
    margin-right: 5px;
}