.trigger--question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: bold;
}

.trigger--question:focus,
.trigger--question:focus :global(.vtex-rich-text-0-x-paragraph) {
  color: #282D2F;
}

.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-right: 1rem;
}

.content--answer {
  transition: opacity 250ms ease-in-out, height 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  height: 0;
  transform: translate3d(0, -10%, 0);
}

.content--answer[data-enter] {
  opacity: 1;
  height: fit-content;
  transform: translate3d(0, 0, 0);
}

.content--answer[data-leave] {
  height: 0;
  overflow: hidden;
}


.trigger--disclosure-title-footer{
    background: #fff;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
    border-radius: 35px;
    border: 1px solid #D3D3D3;
}
.trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-container){
  height: 45px;
  padding: 10px 0;
}
.trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-paragraph){
  color: #231F20 !important;
  font-size: 1.025rem;
  margin-bottom: 0;
  font-weight: 400;
  padding-left: 10px;
}
.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-left: 1rem;
  color: #EF5DA8;
}
.content--disclosure-title-footer-mob{
  padding: 10px;
}
.content--disclosure-title-footer-mob :global(.vtex-store-link-0-x-link){
    text-decoration: none;
    color: #231f20!important;
    font-size: 1.025rem!important;
    display: block;
    line-height: 12px;
}

.content--disclosure-title-footer-mob :global(.vtex-rich-text-0-x-link){
  color: #585858;
  font-size: 18px;
}
/* Mobile */
@media (max-width: 1023px) {
  .trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-container){
    width: 100%;
  }
  .content--disclosure-title-footer-mob :global(.vtex-rich-text-0-x-headingLevel4){
    color: #231f20!important;
    font-size: 1.025rem !important;
    margin-top: 0px;
  }
  .content--disclosure-title-footer-mob :global(.vtex-rich-text-0-x-link){
    color: #231f20!important;
    font-size: 1.025rem !important;
  }
}


/*PÁGINA DE PRODUTO*/
.trigger--disclosure-title-produto{
  display: flex;
  align-items: center;
}
.content--disclosure-content-produto{
  padding-left: 1rem;
  padding-right: 1rem;
}